<h1>
    Delete to enter the Site:
    <br />

    <form action="/Login/Delete">
        <table>
            <tr>
                <td>Enter Name: </td>
                <td><input type="text" name="name" id="name" required /></td>
            </tr>
            <tr>
                <td>Enter User Name: </td>
                <td><input type="text" name="uname" id="uname" required /></td>
            </tr>
            <tr>
                <td>Enter Password: </td>
                <td><input type="text" name="pass" id="pass" required /></td>
            </tr>
            <tr>
                <td rowspan="2"><input type="submit" value="Delete" /></td>
            </tr>
        </table>

    </form>

</h1>
