<h1>
    Update to enter the Site:
    <br />

    <form action="/Login/Update">
        <table>
            <tr>
                <td>Enter Name: </td>
                <td><input type="text" name="name" id="name" required /></td>
            </tr>
            <tr>
                <td>Enter old Password: </td>
                <td><input type="text" name="oldPass" id="oldPass" required /></td>
            </tr>
            <tr>
                <td>Enter New Password: </td>
                <td><input type="text" name="newPass" id="newPass" required /></td>
            </tr>
            
            <tr>
                <td>Enter Confirm new Password: </td>
                <td><input type="text" name="confPass" id="confPass" required /></td>
            </tr>
            <tr>
                <td rowspan="2"><input type="submit" value="login" /></td>
            </tr>
        </table>

    </form>

</h1>
